{% extends 'base.html' %}

{% block title %}Dealership Review{% endblock %}

 {% block content %}

 <h1 class="mt-3 text-center">Write a Review</h1>
 <h3 class="text-center">Describe Your Experience</h3>

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <image src="{{ url_for('static', filename='images/review.jpeg') }}" class="w-100"></image>
            </div>
            <div class="col">
        <form class="p-5" action="" method="POST">

            {{ form.csrf_token }}

            {{ form.dealership_name.label }}
            {{ form.dealership_name(class='form-control my-2', placeholder='Enter Dealership Name') }}
            
            {{ form.dealership_address.label }}
            {{ form.dealership_address(class='form-control my-2', placeholder='Enter Dealership Address') }}
            
            {{ form.rating.label }}
            {{ form.rating(class='form-control my-2', placeholder='Enter Rating') }}

            {{ form.msrp.label }}
            {{ form.msrp(class='form-control my-2', placeholder='MSRP') }}

            {{ form.markup.label }}
            {{ form.markup(class='form-control my-2', placeholder='Dealer Markup') }}

            {{ form.sold.label }}
            {{ form.sold(class='form-control my-2', placeholder='Total OTR Price') }}

            {{ form.comment.label }}
            {{ form.comment(class='form-control my-2', placeholder='Your Overall Experience') }}

            {{ form.submit(class='btn btn-danger w-100 mt-3') }}


        </form>

        </div>
    </div>
</div>


{% endblock content %}